In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#read the dataset 
df=pd.read_csv('listings.csv')
df2=pd.read_csv('reviews.csv')
print(df.shape)
print(df2.shape)

(3585, 95)
(68275, 6)

In [3]:
df.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
count,3.585000e+03,3.585000e+03,3.585000e+03,3585.000000,3585.000000,0.0,3585.000000,3585.000000,3585.000000,3571.000000,...,2762.000000,2767.000000,2765.000000,2767.000000,2763.000000,2764.000000,0.0,0.0,3585.000000,2829.000000
mean,8.440875e+06,2.016091e+13,2.492311e+07,58.902371,58.902371,NaN,42.340032,-71.084818,3.041283,1.221647,...,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234,NaN,NaN,12.733891,1.970908
std,4.500787e+06,0.000000e+00,2.292781e+07,171.119663,171.119663,NaN,0.024403,0.031565,1.778929,0.501487,...,0.931863,1.168977,0.762753,0.735507,0.903436,1.011116,NaN,NaN,29.415076,2.120561
min,3.353000e+03,2.016091e+13,4.240000e+03,0.000000,0.000000,NaN,42.235942,-71.171789,1.000000,0.000000,...,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,NaN,NaN,1.000000,0.010000
25%,4.679319e+06,2.016091e+13,6.103425e+06,1.000000,1.000000,NaN,42.329995,-71.105083,2.000000,1.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,NaN,NaN,1.000000,0.480000
50%,8.577620e+06,2.016091e+13,1.928100e+07,2.000000,2.000000,NaN,42.345201,-71.078429,2.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,NaN,NaN,2.000000,1.170000
75%,1.278953e+07,2.016091e+13,3.622147e+07,7.000000,7.000000,NaN,42.354685,-71.062155,4.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,6.000000,2.720000
max,1.493346e+07,2.016091e+13,9.385411e+07,749.000000,749.000000,NaN,42.389982,-71.000100,16.000000,6.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,136.000000,19.150000

### Data Cleaning

In [4]:
#Columns that more than 50% Empty
empty_columns=set(df.columns[df.isnull().mean()>0.5])
print(empty_columns)

{'jurisdiction_names', 'has_availability', 'license', 'square_feet', 'weekly_price', 'security_deposit', 'notes', 'monthly_price', 'neighbourhood_group_cleansed'}

In [5]:
#drop columns that have more than 50% empty data.
df.drop(columns=empty_columns,inplace=True)

In [6]:
#column types
df.select_dtypes(include='object')
#unnecessary columns--mainly either text or single value columns
uc=['host_url','latitude', 'first_review', 'last_review', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
    'longitude', 'is_location_exact','smart_location','last_scraped'
    ,'scrape_id','description','interaction','house_rules','xl_picture_url'
    ,'host_name','host_about','thumbnail_url','medium_url','picture_url'
    ,'summary','space','experiences_offered','neighborhood_overview'
    ,'transit','access','calendar_updated','calendar_last_scraped',
    'host_thumbnail_url', 'host_picture_url','host_neighbourhood',
    'host_listings_count','street','neighbourhood','city','state', 'zipcode','market','listing_url','country','country_code']
df.drop(columns=uc,inplace=True)

In [7]:
cat_cols=['host_response_time','host_is_superhost','host_has_profile_pic',
          'host_identity_verified','neighbourhood_cleansed','bed_type','property_type','room_type']
num_cols=['host_response_rate','host_acceptance_rate',
          'host_total_listings_count','accommodates','bathrooms',
          'bedrooms', 'beds','price','cleaning_fee', 'guests_included',
          'extra_people','minimum_nights', 'maximum_nights', 'number_of_reviews',
          'review_scores_rating', 'review_scores_accuracy',
          'review_scores_cleanliness', 'review_scores_checkin',
          'review_scores_communication', 'review_scores_location',
          'review_scores_value', 'requires_license', 'instant_bookable',
          'cancellation_policy', 'require_guest_profile_picture',
          'require_guest_phone_verification', 'calculated_host_listings_count',
          'reviews_per_month']

In [8]:
df.describe()

,id,host_id,host_total_listings_count,accommodates,bathrooms,bedrooms,beds,guests_included,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
count,3.585000e+03,3.585000e+03,3585.000000,3585.000000,3571.000000,3575.000000,3576.000000,3585.000000,3585.000000,3.585000e+03,3585.000000,2772.000000,2762.000000,2767.000000,2765.000000,2767.000000,2763.000000,2764.000000,3585.000000,2829.000000
mean,8.440875e+06,2.492311e+07,58.902371,3.041283,1.221647,1.255944,1.609060,1.429847,3.171269,2.872584e+04,19.044630,91.916667,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234,12.733891,1.970908
std,4.500787e+06,2.292781e+07,171.119663,1.778929,0.501487,0.753060,1.011745,1.056787,8.874133,1.670136e+06,35.571658,9.531686,0.931863,1.168977,0.762753,0.735507,0.903436,1.011116,29.415076,2.120561
min,3.353000e+03,4.240000e+03,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000e+00,0.000000,20.000000,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,1.000000,0.010000
25%,4.679319e+06,6.103425e+06,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.650000e+02,1.000000,89.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,1.000000,0.480000
50%,8.577620e+06,1.928100e+07,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.125000e+03,5.000000,94.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,2.000000,1.170000
75%,1.278953e+07,3.622147e+07,7.000000,4.000000,1.000000,2.000000,2.000000,1.000000,3.000000,1.125000e+03,21.000000,98.250000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,6.000000,2.720000
max,1.493346e+07,9.385411e+07,749.000000,16.000000,6.000000,5.000000,16.000000,14.000000,300.000000,1.000000e+08,404.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,136.000000,19.150000

### Feature Engineering

In [9]:
#create new column for if the host is based in Boston.
df.host_location.value_counts()

Boston, Massachusetts, United States              2421
US                                                 521
New York, New York, United States                  113
Montreal, Quebec, Canada                            59
Middlesex County, Massachusetts, United States      50
                                                  ...
Newport, Rhode Island, United States                 1
San Diego, California, United States                 1
Vienna, Virginia, United States                      1
Livingston, New Jersey, United States                1
Lansdale, Pennsylvania, United States                1
Name: host_location, Length: 176, dtype: int64

In [10]:
df['host_base_boston']= None
def is_boston(city):
    if city == 'Boston, Massachusetts, United States':
        return True
    else:
        return False

df['host_base_boston'] = df['host_location'].apply(lambda x: is_boston(x))
df.drop(columns=['host_location'],inplace=True)

In [11]:
df['host_base_boston'].value_counts()

True     2421
False    1164
Name: host_base_boston, dtype: int64

In [12]:
df['host_verifications'] = df['host_verifications'].str.strip('[]').str.split('\s*,\s*')

df1 = (
    df['host_verifications'].explode()
    .str.get_dummies().sum(level=0).add_prefix('host_verifications_')
)

df1 = df.drop('host_verifications', 1).join(df1)
df=df1

In [13]:
df['amenities'] = df['amenities'].str.strip('{}').str.split('\s*,\s*')

df1 = (
    df['amenities'].explode()
    .str.get_dummies().sum(level=0).add_prefix('amenities_')
)

df1 = df.drop('amenities', 1).join(df1)
df=df1

In [14]:
pd.get_dummies(df,columns=cat_cols,drop_first=True)

,id,name,host_id,host_since,host_response_rate,host_acceptance_rate,host_total_listings_count,accommodates,bathrooms,bedrooms,...,property_type_Dorm,property_type_Entire Floor,property_type_Guesthouse,property_type_House,property_type_Loft,property_type_Other,property_type_Townhouse,property_type_Villa,room_type_Private room,room_type_Shared room
0,12147973,Sunny Bungalow in the City,31303940,2015-04-15,NaN,NaN,1,4,1.5,2.0,...,0,0,0,1,0,0,0,0,0,0
1,3075044,Charming room in pet friendly apt,2572247,2012-06-07,100%,100%,1,2,1.0,1.0,...,0,0,0,0,0,0,0,0,1,0
2,6976,Mexican Folk Art Haven in Boston,16701,2009-05-11,100%,88%,1,2,1.0,1.0,...,0,0,0,0,0,0,0,0,1,0
3,1436513,Spacious Sunny Bedroom Suite in Historic Home,6031442,2013-04-21,100%,50%,1,4,1.0,1.0,...,0,0,0,1,0,0,0,0,1,0
4,7651065,Come Home to Boston,15396970,2014-05-11,100%,100%,1,2,1.5,1.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,8373729,Big cozy room near T,19246369,2014-07-31,96%,100%,28,3,1.0,1.0,...,0,0,0,0,0,0,0,0,1,0
3581,14844274,BU Apartment DexterPark Bright room,37366454,2015-07-02,10%,83%,2,2,1.0,1.0,...,0,0,0,0,0,0,0,0,1,0
3582,14585486,Gorgeous funky apartment,11311919,2014-01-14,78%,50%,1,4,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3583,14603878,Great Location; Train and Restaurants,74318064,2016-05-27,100%,96%,4,2,1.0,1.0,...,0,0,0,0,0,0,0,0,1,0
3584,14504422,(K1) Private Room near Harvard/MIT,42070843,2015-08-20,100%,95%,14,2,1.0,1.0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
df.shape

(3585, 99)

In [ ]:
#To Do's
#host_response_rate --> and all the numeric columns, are they numeric ?
#'neighborhood -->price connection in model