In [1]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#read the dataset 
df=pd.read_csv('data/listings.csv')
df2=pd.read_csv('data/reviews.csv')
print(df.shape)
print(df2.shape)

(3585, 95)
(68275, 6)

In [3]:
df.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
count,3.585000e+03,3.585000e+03,3.585000e+03,3585.000000,3585.000000,0.0,3585.000000,3585.000000,3585.000000,3571.000000,...,2762.000000,2767.000000,2765.000000,2767.000000,2763.000000,2764.000000,0.0,0.0,3585.000000,2829.000000
mean,8.440875e+06,2.016091e+13,2.492311e+07,58.902371,58.902371,NaN,42.340032,-71.084818,3.041283,1.221647,...,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234,NaN,NaN,12.733891,1.970908
std,4.500787e+06,0.000000e+00,2.292781e+07,171.119663,171.119663,NaN,0.024403,0.031565,1.778929,0.501487,...,0.931863,1.168977,0.762753,0.735507,0.903436,1.011116,NaN,NaN,29.415076,2.120561
min,3.353000e+03,2.016091e+13,4.240000e+03,0.000000,0.000000,NaN,42.235942,-71.171789,1.000000,0.000000,...,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,NaN,NaN,1.000000,0.010000
25%,4.679319e+06,2.016091e+13,6.103425e+06,1.000000,1.000000,NaN,42.329995,-71.105083,2.000000,1.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,NaN,NaN,1.000000,0.480000
50%,8.577620e+06,2.016091e+13,1.928100e+07,2.000000,2.000000,NaN,42.345201,-71.078429,2.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,NaN,NaN,2.000000,1.170000
75%,1.278953e+07,2.016091e+13,3.622147e+07,7.000000,7.000000,NaN,42.354685,-71.062155,4.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,6.000000,2.720000
max,1.493346e+07,2.016091e+13,9.385411e+07,749.000000,749.000000,NaN,42.389982,-71.000100,16.000000,6.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,136.000000,19.150000

### Data Cleaning

In [4]:
#Columns that more than 50% Empty
empty_columns=set(df.columns[df.isnull().mean()>0.5])
print(empty_columns)

{'neighbourhood_group_cleansed', 'license', 'notes', 'square_feet', 'security_deposit', 'jurisdiction_names', 'weekly_price', 'monthly_price', 'has_availability'}

In [5]:
#drop columns that have more than 50% empty data.
df.drop(columns=empty_columns,inplace=True)

In [6]:
#column types
df.select_dtypes(include='object')
#unnecessary columns--mainly either text or single value columns
uc=['host_url','latitude', 'first_review', 'last_review', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
    'longitude', 'is_location_exact','smart_location','last_scraped'
    ,'scrape_id','description','interaction','house_rules','xl_picture_url'
    ,'host_name','host_about','thumbnail_url','medium_url','picture_url'
    ,'summary','space','experiences_offered','neighborhood_overview'
    ,'transit','access','calendar_updated','calendar_last_scraped',
    'host_thumbnail_url', 'host_picture_url','host_neighbourhood',
    'host_listings_count','street','neighbourhood','city','state', 'zipcode','market','listing_url','country','country_code']
df.drop(columns=uc,inplace=True)

In [7]:
cat_cols=['host_response_time','host_is_superhost','host_has_profile_pic',
          'host_identity_verified','neighbourhood_cleansed','bed_type','property_type','room_type','requires_license',
         'requires_license', 'instant_bookable',
          'cancellation_policy', 'require_guest_profile_picture',
          'require_guest_phone_verification']
num_cols=['host_total_listings_count','accommodates','bathrooms',
          'bedrooms', 'beds', 'guests_included',
          'minimum_nights', 'maximum_nights', 'number_of_reviews',
          'review_scores_rating', 'review_scores_accuracy',
          'review_scores_cleanliness', 'review_scores_checkin',
          'review_scores_communication', 'review_scores_location',
          'review_scores_value', 'calculated_host_listings_count',
          'reviews_per_month']
rate_cols=['host_response_rate','host_acceptance_rate']
other_cols=['price','cleaning_fee','extra_people']

In [8]:
for column in rate_cols:
    df[column]= df[column].str.replace('%','')
    df[column] = pd.to_numeric(df[column], downcast="float")
    df[column].fillna(df[column].mean(), inplace =True)

In [9]:
for column in num_cols:
    print(column)
    df[column] = pd.to_numeric(df[column], downcast="float")
    df[column].fillna(df[column].mean(), inplace =True)

host_total_listings_count
accommodates
bathrooms
bedrooms
beds
guests_included
minimum_nights
maximum_nights
number_of_reviews
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
calculated_host_listings_count
reviews_per_month

In [10]:
for column in other_cols:
    df[column]= df[column].str.replace('%','')
    df[column]= df[column].str.replace('$','')
    df[column]= df[column].str.replace(',','')
    df[column] = pd.to_numeric(df[column], downcast="float")

In [11]:
df['cleaning_fee'].fillna(df['cleaning_fee'].mean(), inplace =True)

### Feature Engineering

In [12]:
#create new column for if the host is based in Boston.
df.host_location.value_counts()

Boston, Massachusetts, United States              2421
US                                                 521
New York, New York, United States                  113
Montreal, Quebec, Canada                            59
Middlesex County, Massachusetts, United States      50
                                                  ...
Utrecht, Utrecht, Netherlands                        1
Hillsboro Beach, Florida, United States              1
Norwich, Vermont, United States                      1
Medellin, Antioquia, Colombia                        1
Bluffton, South Carolina, United States              1
Name: host_location, Length: 176, dtype: int64

In [13]:
df['host_base_boston']= None
def is_boston(city):
    if city == 'Boston, Massachusetts, United States':
        return True
    else:
        return False

df['host_base_boston'] = df['host_location'].apply(lambda x: is_boston(x))
df.drop(columns=['host_location'],inplace=True)

In [14]:
df['host_base_boston'].value_counts()

True     2421
False    1164
Name: host_base_boston, dtype: int64

In [15]:
df['host_verifications'] = df['host_verifications'].str.strip('[]').str.split('\s*,\s*')

df1 = (
    df['host_verifications'].explode()
    .str.get_dummies().sum(level=0).add_prefix('host_verifications_')
)

df1 = df.drop('host_verifications', 1).join(df1)
df=df1

In [16]:
df['amenities'] = df['amenities'].str.strip('{}').str.split('\s*,\s*')

df1 = (
    df['amenities'].explode()
    .str.get_dummies().sum(level=0).add_prefix('amenities_')
)

df1 = df.drop('amenities', 1).join(df1)
df=df1

In [17]:
df=pd.get_dummies(df,columns=cat_cols,drop_first=True)

In [18]:
df.to_csv('data/listings_cleaned.csv',index=False)
#To Do's
#host_response_rate --> and all the numeric columns, are they numeric ?
#'neighborhood -->price connection in model