In [2]:
#import libraries
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from matplotlib import pyplot

In [64]:
#read data
df=pd.read_csv('data/listings_cleaned.csv')

In [65]:
df.drop(columns=['id','name', 'host_id', 'host_since'],inplace=True)
df.shape

(3585, 136)

In [46]:
for column in df.columns:
    if df[column].isnull().any()==True:
        print(column)

In [47]:
X = df.drop(columns=['price'],axis=1)
y = df['price']

In [48]:
#Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state=42) 

lm_model = LinearRegression(normalize=True) # Instantiate
lm_model.fit(X_train, y_train) #Fit

In [49]:
 #Predict using your model
y_test_preds = lm_model.predict(X_test)
y_train_preds = lm_model.predict(X_train)

In [50]:
#Score using your model
test_score = r2_score(y_test, y_test_preds)
train_score = r2_score(y_train, y_train_preds)

print(test_score)
print(train_score)

-273.54603108037406
0.4835973165950178

In [52]:
### decision tree

In [54]:
tree = DecisionTreeRegressor(criterion='mse',max_depth=3)
tree.fit(X_train, y_train)
y_test_preds = tree.predict(X_test)
y_train_preds = tree.predict(X_train)

In [57]:
dfr = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_test_preds})

In [58]:
dfr

      Real Values  Predicted Values
3163        160.0        177.480969
3133        135.0         92.144633
937         525.0        312.172414
196         114.0        177.480969
2852         55.0        161.000000
...           ...               ...
435         140.0        177.480969
365         255.0        213.054348
1940        195.0        177.480969
276         225.0        213.054348
2379        199.0        312.172414

[1076 rows x 2 columns]

In [70]:
# get importance
importance = tree.feature_importances_
# summarize feature importance
feats = {} # a dict to hold feature_name: feature_importance
for feature, importance_val in zip(df.columns, importance):
    feats[feature] = importance_val #add the name/value pair 

importances = pd.DataFrame.from_dict(feats, orient='index').rename(columns={0: 'Gini-importance'})

In [73]:
importances[importances['Gini-importance']!=0]

                            Gini-importance
bathrooms                          0.146577
bedrooms                           0.562385
host_verifications_'phone'         0.023734
host_identity_verified_t           0.018156
property_type_Villa                0.202170
cancellation_policy_strict         0.046979

In [74]:
### XG_Boost